body{
    position: relative;
    display: block;

    margin: 0 auto;
    padding: 0px;

    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;

    background-color: #303030;
    color: #ffffff;

    overflow-x: hidden;
    overflow-y: auto
}

#header{
    position: relative;
    display: block;

    margin: 0 auto;
    margin-bottom: 10px;
    padding: 0px;

    top: 0px;
    left: 0px;

    width: 100%;
    height: 50px;

    background-color: #ffffff;
}

#header_logo {
    display: block;
    position: absolute;
    margin: auto;
    padding: 0 auto;

    width: 180px;
    height: 40px;

    top: 5px;
    left: 10px;

    transition: 0.15s;
    -webkit-transition: 0.15s;
    -moz-transition: 0.15s; ;

    background-image: url(../images/aslogo.png);
    background-size: 100% 100%;
    background-clip: padding-box;
    background-repeat: no-repeat;

    cursor: pointer;
}

#header_title {
    display: block;
    position: absolute;
    margin: auto;
    padding: 0 auto;

    width: auto;
    height: 50px;

    top: 0px;
    left: 0px;
    right: 0px;

    font-family: Arial, Helvetica, Verdana, sans-serif;
    color: #000000;
    line-height: 50px;
    font-size: 20px;
    text-align: center;

    cursor: pointer;
}

#file_select_button{
    display: block;
    position: relative;
    margin: auto;
    margin-left: 20px;
    padding: 0 auto;

    width: 200px;
    height: 30px;

    float: left;

    font-family: Arial, Helvetica, Verdana, sans-serif;
    color: #ffffff;
    line-height: 30px;
    font-size: 14px;
    text-align: center;

    border-radius: 15px;
    background-color: #000000;

    cursor: pointer;
}

#file_select_button:hover{
    background-color: #606060;
}

#file_select_button:active{
    background-color: #000000;
}

#thumbnail_holder{
    display: none;
    position: absolute;
    margin: 0 auto;
    padding: 0px;

    width: 300px;
    height: auto;

    top: 100px;
    right: 20px;

    overflow: hidden;
}

#geo_coord_holder{
    display: block;
    position: absolute;
    margin: auto;
    padding: 0 auto;

    width: auto;
    height: 30px;

    top: 60px;
    right: 20px;

    font-family: Arial, Helvetica, Verdana, sans-serif;
    color: #ffffff;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
}

#exif_holder{
    display: none;
    position: absolute;
    margin: auto;
    padding: 10px;

    width: calc(100% - 690px);
    height: auto;

    top: 100px;
    left: 20px;

    font-family: Arial, Helvetica, Verdana, sans-serif;
    color: #000000;
    line-height: 14px;
    font-size: 12px;
    text-align: left;
    word-wrap: break-word;

    border-radius: 15px;
    background-color: #ffffff;

    overflow-x: hidden;
    overflow-y: auto;
}